awscli==1.14.32
Babel==2.5.3
botocore==1.8.36
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.7
defusedxml==0.5.0
Django==2.2.10
django-dotenv==1.4.2
django-phonenumber-field==2.0.0
django-webpack-loader==0.6.0
docutils==0.14
idna==2.6
jmespath==0.9.3
oauthlib==2.0.6
optional-django==0.3.0
phonenumberslite==8.9.0
psycopg2==2.7.3.2
pyasn1==0.4.2
PyJWT==1.5.3
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2018.3
PyYAML==3.12
react==4.1.1
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.12
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
wincertstore==0.2
