{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2">
        <div class="ui form" id="ui-form">
        {{ csrf }}
             <div class="two fields">
                <div class="field">
                    <label for="first_name_id">First Name</label>
                    <input id="first_name_id"   placeholder="Search by first name..." type="text" />
                </div>
                <div class="field">
                    <label for="last_name_id">Last Name</label>
                    <input id="last_name_id" placeholder="Search by last name..." type="text"/>
                </div>
            </div>
            <div class="display-inline ">
                <button class="ui primary button" id="search" type="button">Search</button>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Faculty</th>
                        <th>Add/Update Advising</th>
                    </tr>
                </thead>
                <tbody id="students_added">

                </tbody>
            </table>
        </div>
        <div id="success">

        </div>
    </div>

    <script>
        function addStudent(){
            console.log("here");
            var first_name = $('#first_name_id').val();
            var last_name = $('#last_name_id').val();
            $.ajax({
                type: "GET",
                url: "/student_system/create_advising/",
                data : {
                    first_name: first_name,
                    last_name: last_name,
                },
                success: function(data) {
                    console.log(data);
                    data.forEach(function(element){
                        var tBody = document.getElementById('students_added');
                        var newRow = tBody.insertRow(tBody.rows.length);
                        newRow.id = element.user_id + '_row';
                        var userIdCell = newRow.insertCell(0);
                        var usernameCell = newRow.insertCell(1);
                        var emailCell = newRow.insertCell(2);
                        var firstNameCell = newRow.insertCell(3);
                        var lastNameCell = newRow.insertCell(4);
                        var facultyCell = newRow.insertCell(5);
                        var updateCell = newRow.insertCell(6);
                        var userIdText = document.createTextNode(element.user_id);
                        var usernameText = document.createTextNode(element.username);
                        var emailText = document.createTextNode(element.email);
                        var firstNameText = document.createTextNode(element.first_name);
                        var lastNameText = document.createTextNode(element.last_name);
                        userIdCell.appendChild(userIdText);
                        usernameCell.appendChild(usernameText);
                        emailCell.appendChild(emailText);
                        firstNameCell.appendChild(firstNameText);
                        lastNameCell.appendChild(lastNameText);
                        facultyCell.insertAdjacentHTML('afterbegin',
                            '<select id="id_faculty_id_'+element.user_id+'" class="ui input" style="min-width: 9rem;">' +
                            '</select>' );
                        var facultySelect = facultyCell.firstChild;
                        element.faculty_array.forEach(function(element){
                            console.log("here");
                            facultySelect.insertAdjacentHTML('afterbegin',
                                '<option value="'+element.faculty_id+'" >'+element.full_name+'</option>')
                        });
                        if(element.is_advised){
                            updateCell.insertAdjacentHTML('afterbegin', '<button type="button" onclick="updateAdvising(this.id)" class="ui negative button" id="'+element.user_id+'" type="button">Update</button>')
                        } else {
                            updateCell.insertAdjacentHTML('afterbegin', '<button type="button" onclick="createAdvising(this.id)" class="ui negative button" id="' + element.user_id + '" type="button">Create</button>')
                        }
                    });
                }
            });

        }

        function removeStudents() {
            $('#students_added').empty();
        }

        function createAdvising(user_id) {
            $.ajax({
                type: "POST",
                url: "/student_system/create_advising/",

                data: {
                    userID: user_id,
                    faculty: $('#id_faculty_id_'+user_id).val(),
                    isUpdate: false,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function(){
                    $('#'+user_id+'_row').remove();
                    $('#success').append("<h2>Hold Appended Successfully!</h2>")
                }
            })
        }
        {# TODO: FINISH UPDATE ADVISING        #}
        function updateAdvising(user_id) {

            $.ajax({
                type: "POST",
                url: "/student_system/update_advising/",

                data: {
                    userID: user_id,
                    faculty: $('#id_faculty_id_'+user_id).val(),
                    isUpdate: true,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function(){
                    $('#'+user_id+'_row').remove();
                    $('#success').append("<h2>Hold Removed Successfully!</h2>")
                }
            })

        }

        $('#search').click(addStudent);
        $('#clear').click(removeStudents);


    </script>

{% endblock %}