{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}
{#    {% csrf_token %}#}
    <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container">
        <form id="section-form" action="{{ url }}" method="post" class="ui form m-top2 ">
            {% csrf_token %}

            <div class="fields">
                <div class="ten wide required field">
                    <label for="id_department_id">Department</label>
                    <select class="ui fluid dropdown" name="department_id" id="id_department_id" required>
                        <option value="true">-------</option>
                        {% if departments %}
                            {% for department in departments %}
                                <option value="{{ department.department_id }}" label="{{ department.name }}">{{ department.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="six wide required field">
                    <label for="id_course_id">Course</label>
                    <select class="ui fluid dropdown" name="course_id" id="id_course_id" required>
                    </select>
                </div>
            </div>

            <div class=" required field">
                <label for="id_faculty_id">Faculty</label>
                <select class="ui fluid dropdown" name="faculty_id" id="id_faculty_id" required>
{#                    <option value="true">-------</option>#}
{#                    {% if faculty %}#}
{#                        {% for f in faculty %}#}
{#                            <option value="{{ f.faculty_id }}" label="{{ f.first_name }} {{ f.last_name }}">{{ f.first_name }} {{ f.last_name }}</option>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
                </select>
            </div>

            <div class=" fields">
                <div class="seven wide required field">
                    <label for="id_building_id">Building</label>
                    <select class="ui fluid dropdown" name="building_id" id="id_building_id" required>
                        <option value="true">-------</option>
                        {% if buildings %}
                            {% for b in buildings %}
                                <option value="{{ b.building_id }}" label="{{ b.name }}">{{ b.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="nine wide required field">
                    <label for="id_room_id">Room</label>
                    <select class="ui fluid dropdown" name="room_id" id="id_room_id" required>
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="four wide required field">
                    <label for="id_semester_id">Semester</label>
                    <select class="ui fluid dropdown" name="semester_id" id="id_semester_id" required>
                        {% if semesters %}
                            {% for s in semesters %}
                                <option value="{{ s.semester_id }}" >{{ s.season }} {{ s.year }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="four wide required field">
                    <label for="id_days_id">Days</label>
                    <select class="ui fluid dropdown" name="days_id" id="id_days_id" required>
                        {% if days %}
                            {% for d in days %}
                                <option value="{{ d.days_id }}" >{{ d.day_1 }} {{ d.day_2 }} {% if d.day_3 is not None %}{{ d.day_3 }}{% endif %}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="four wide required field">
                     <label for="id_time_slot_id">Time Slot</label>
                    <select class="ui fluid dropdown" name="time_slot_id" id="id_time_slot_id" required>
                        {% if time_periods %}
                            {% for p in time_periods %}
                                <option value="{{ p.period_id }}" >{{ p.start_time }}---{{ p.end_time }} </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                 </div>
            </div>
            <div class="inline fields">
                <div id="submit_div" class="field">
                    <button type="button" id="submit" class="ui button" role="button">Submit</button>
                </div>
                <div class="field">
                    <button type="button" id="add_time_segment" class="ui button" role="button">Create Time Slot</button>
                </div>
            </div>
        </form>
        <div id="success"></div>
        <div id="time_segment">

        </div>
        <div id="time_success"></div>

    </div>

   <script>
         function getCourses(){
            removeCourses();
            var department_id = $('#id_department_id').val();
            var department_name = $('select option:selected').text();
            $.ajax({
                type: "GET",
                url: "/student_system/create_section/",
                data : {
                    department_id: department_id,
                    department_name: department_name
                },
                success: function(data) {
                    console.log(data);
                    data.course_array.forEach(function(element){
                        $('#id_course_id').append("<option value='"+element.course_id+"'>"+element.course_name+"</option>" );
                    });
                    data.faculty_array.forEach(function(e){
                        $('#id_faculty_id').append("<option value='"+e.faculty_id+"'>"+e.faculty_name+"</option>" );
                    })
                }
            });

        }

        function getRooms(){
            removeRooms();
            var building_id = $('#id_building_id').val();
            $.ajax({
                type: "GET",
                url: "/student_system/create_section/",
                data : {
                    building_id: building_id.trim()
                },
                success: function(data) {
                    console.log(data);
                    data.forEach(function(element){
                        $('#id_room_id').append("<option value='"+element.room_id+"'>"+element.room_number+" : "+element.room_type+" : "+element.room_capacity+"</option>" );
                    });
                }
            });

        }

        function addTimeSegment(){
            $('#time_segment').append("<div class=\"ui segment\">" +
                            "            <h2 class=\"ui left floated header\">Add Time Slot</h2>" +
                            "            <div class='ui clearing divider'></div>"+
                            "            <form id='time-slot-form' action='' method='post' class='ui form m-top2'>" +
                            "               <div class='three fields'> "+
                            "                   <div class='required field'>"+
                            "                       <label for='start_time_id'>Start Time</label>"+
                            "                       <input type='time' name='start_time' id='start_time_id' required/>"+
                            "                   </div>"+
                            "                   <div class='required field'>"+
                            "                       <label for='end_time_id'>End Time</label>"+
                            "                       <input type='time' name='end_time' id='end_time_id' required/>"+
                            "                   </div>"+
                            "                   <div style='padding-top: 1.7rem;' class='field'>"+
                            "                       <button type='button' onclick='submitTimePeriod()' id='submit_time' class='ui button' role='button'>Submit</button>"+
                            "                   </div>"+
                            "               </div>"+
                            "            </form>"+
                            "        </div>");
            var time_segment = $('#add_time_segment');
            time_segment.text("Hide Time Segment");
            time_segment.click(hideTimeSegment)

        }

        function hideTimeSegment(){
            var time_segment = $('#add_time_segment');
            $('#time_segment').empty();
            time_segment.text("Add Time Segment");
            time_segment.click(addTimeSegment);
        }

        function removeRooms(){
            $('id_room_id').empty();
        }

        function removeCourses() {
            $('#id_course_id').empty();
        }

        function submitTimePeriod(){
            var start_time = $('#start_time_id').val();
            var end_time = $('#end_time_id').val();
            $.ajax({
                type: "POST",
                url: "/student_system/create_section/time_slot/",

                data: {
                    start_time: start_time,
                    end_time: end_time,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(){
                    $('#time_success').append("<h2>Time Slot Created Successfully!</h2>")
                }
            })

        }

        function submitSection(event){
            event.preventDefault();
            var department = $('#id_department_id').val();
            var course = $('#id_course_id').val();
            var faculty = $('#id_faculty_id').val();
            var building = $('#id_building_id').val();
            var room = $('#id_room_id').val();
            var semester = $('#id_semester_id').val();
            var days = $('#id_days_id').val();
            var time_period = $('#id_time_slot_id').val();
            $.ajax({
                type: "POST",
                url: "/student_system/create_section/",

                data: {
                    department: department,
                    course: course,
                    faculty: faculty,
                    building: building,
                    room: room,
                    semester: semester,
                    days: days,
                    time_period: time_period,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function(){
                    $('#section-form').hide();
                    $('#success').append("<h2>Section Created Successfully!</h2>")
                }
            })
        }

        $('#add_time_segment').click(addTimeSegment);
        $('#submit').click(submitSection);
        $('#id_department_id').change(getCourses);
        $('#id_building_id').change(getRooms);

    </script>
{#    {{ form }}#}

{#    <script>document.getElementsByClassName('ui dropdown').dropdown()</script>#}
{% endblock %}