{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}

<script>
    var image_link = '{% static "registration_system/images/college_admissions_image.jpg" %}';
</script>

{% block banner %}
    <img class="ui fluid image banner-image" src="{% static 'registration_system/images/college_test_image.jpeg' %}">
{% endblock %}

{% block content %}
    <h1 class="ui center aligned header tsize-2">
        <i class="fas fa-graduation-cap"></i>
        <div class="content">Andromeda Academy College Registration System</div>
    </h1>
    <hr class="title-rule"/>
{#    <p> Hello {{ user.username }}!</p>#}

    <div class="ui container" style=" margin-bottom: 4rem;">
        {{ rendered|safe }}
    </div>

{% endblock %}

