{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2">
        <div class="ui form" id="ui-form">
            <div class="inline fields">
                <div class="field">
                    <label for="id_department_id">Department</label>
                    <select class="ui fluid dropdown" name="department_id" id="id_department_id" required>
                        {% if departments %}
                            {% for department in departments %}
                                <option value="{{ department.department_id }}" label="{{ department.name }}">{{ department.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="inline fields">
                <div class="field">
                    <label for="id_course_id">Course</label>
                    <select class="ui fluid dropdown" name="course_id" id="id_course_id" required>
                        {% if courses %}
                            {% for course in courses %}
                                <option value="{{ course.course_id }}" label="{{ course.name }}">{{ course.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="fields">
                <div class="eight wide field">
                    <label for="id_faculty_id">Faculty</label>
                    <select class="ui fluid dropdown" name="faculty_id" id="id_faculty_id" required>
                        {% if faculty %}
                            {% for f in faculty %}
                                <option value="{{ f.faculty_id }}" >{{ f.first_name }} {{ f.last_name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="four wide field">
                    <label for="id_days_id">Meeting Days</label>
                    <select class="ui fluid dropdown" name="days_id" id="id_days_id" required>
                        {% if days %}
                            {% for d in days %}
                                <option value="{{ d.days_id }}" >{{ d.day_1 }}--{{ d.day_2 }}{% if d.day_3 is not None %}--{{ d.day_3 }}{% endif %}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="four wide field" style="padding-top: 1.7rem">
                    <button type="button" id="search_submit" class="ui button" role="button">Submit</button>
                </div>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Department</th>
                        <th>Professor</th>
                        <th>Credits</th>
                        <th>Seats </th>
                        <th>Time Slot</th>
                        <th>Building</th>
                        <th>Room</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody id="sections_added">

                </tbody>
            </table>
        </div>
        <div id="success">

        </div>
    </div>
{# TODO: Ajax call to building table and ajax post to submit update #}
    <script>
        function getSections(){
            removeSections();
            var department_id = $('#id_department_id').val();
            var department_name = $('select option:selected').text();
            var course_id = $('#id_course_id').val();
            var days_id = $('#id_days_id').val();
            var faculty_id = $('#id_faculty_id').val();
            $.ajax({
                type: "GET",
                url: "/student_system/search_section/",
                data : {
                    department_id: department_id,
                    department_name: department_name,
                    course_id: course_id,
                    days_id: days_id,
                    faculty_id: faculty_id
                },
                success: function(data) {
                    console.log(data);
                    data.forEach(function(element){
                        var tBody = document.getElementById('sections_added');
                        var newRow = tBody.insertRow(tBody.rows.length);
                        newRow.id = element.course_id + '_row';
                        var sectionIdCell = newRow.insertCell(0);
                        var courseNameCell = newRow.insertCell(1);
                        var departmentCell = newRow.insertCell(2);
                        var facultyCell = newRow.insertCell(3);
                        var creditsCell = newRow.insertCell(4);
                        var seatsCell = newRow.insertCell(5);
                        var timeSlotCell = newRow.insertCell(6);
                        var buildingCell = newRow.insertCell(7);
                        var roomNumberCell = newRow.insertCell(8);
                        var updateCell = newRow.insertCell(9);
{# editing faculty, meeeting days, time period, building, and room number  #}
                        var sectionIdText = document.createTextNode(element.section_id);
                        var courseNameText = document.createTextNode(element.course_name);
                        var departmentText = document.createTextNode(element.course_department);
                        var creditsText = document.createTextNode(element.credits);
                        var seatsText = $("<ul style='list-style:none; padding-left:0px'><li><span style='font-weight:bold'>Taken:</span>"+element.seats_taken+"</li><li><span style='font-weight:bold;'>Capacity:</span>"+element.seating_capacity+"</li></span>")
                        sectionIdCell.appendChild(sectionIdText);
                        courseNameCell.appendChild(courseNameText);
                        departmentCell.appendChild(departmentText);
                        creditsCell.appendChild(creditsText);
                        $('#'+element.course_id + '_row').find('td:eq(5)').append(seatsText);
                        facultyCell.insertAdjacentHTML('afterbegin',
                            '<select id="id_faculty_id_'+element.section_id+'" class="ui input" style="min-width: 9rem;">' +
                            '</select>' );
                        var facultySelect = facultyCell.firstChild;
                        element.faculty_array.forEach(function(element){
                            console.log("here");
                            facultySelect.insertAdjacentHTML('afterbegin',
                                '<option value="'+element.faculty_id+'" >'+element.full_name+'</option>')
                        });
                       timeSlotCell.insertAdjacentHTML('afterbegin',
                            '<select id="id_time_period_id_'+element.section_id+'" class="ui input" style="min-width: 12rem;">' +
                            '</select>' );
                        var timeSelect = timeSlotCell.firstChild;
                        element.time_periods_array.forEach(function(element){
                            console.log("here");
                            timeSelect.insertAdjacentHTML('afterbegin',
                                '<option value="'+element.time_period_id+'" >'+element.time_range+'</option>')
                        });
                        timeSlotCell.insertAdjacentHTML('beforeend',
                            '<select id="id_days_id_'+element.section_id+'" class="ui input" style="min-width: 12rem;">' +
                            '</select>' );
                        var daysSelect = timeSlotCell.firstChild.nextSibling;
                        element.meeting_days_array.forEach(function(element){
                            console.log("here");
                            daysSelect.insertAdjacentHTML('afterbegin',
                                '<option value="'+element.days_id+'" >'+element.day_range+'</option>')
                        });
                        buildingCell.insertAdjacentHTML('afterbegin',
                            '<select id="id_building_id_'+element.section_id+'" class="ui input" style="min-width: 10rem;">' +
                            '</select>' );
                        var buildingSelect = buildingCell.firstChild;
                        element.buildings_array.forEach(function(element){
                            console.log("here");
                            buildingSelect.insertAdjacentHTML('afterbegin',
                                '<option value="'+element.building_id+'" >'+element.building_name+'</option>')
                        });
                        roomNumberCell.insertAdjacentHTML('afterbegin',
                            '<select id="id_room_id_'+element.section_id+'" class="ui input" style="min-width: 6.7rem;" >' +
                            '</select>' );
                        var roomSelect = roomNumberCell.firstChild;
                        element.rooms_array.forEach(function(element){
                            console.log("here");
                            roomSelect.insertAdjacentHTML('afterbegin',
                                '<option value="'+element.rooms_id+'" >'+element.room_number+'</option>')
                        });
                        updateCell.insertAdjacentHTML('afterbegin', '<button type="button" onclick="updateSection(this.id)" class="ui info button" id="'+element.section_id+'" type="button">Update</button>')
                    });
                }
            });

        }

        function removeSections() {
            $('#sections_added').empty();
        }

        function updateSection(section_id) {

            var faculty = $('#id_faculty_id_'+section_id).val();
            var time_period = $('#id_time_period_id_'+section_id).val();
            var days = $('#id_days_id_'+section_id).val();
            var building = $('#id_building_id_'+section_id).val();
            var room = $('#id_room_id_'+section_id).val();
            $.ajax({
                type: "POST",
                url: "/student_system/search_section/",

                data: {
                    faculty: faculty,
                    time_period: time_period,
                    days: days,
                    building: building,
                    section_id: section_id,
                    room: room,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function(){
                    $('#success').append("<h2>Section Update Successfully</h2>")
                }
            })

        }

        $('#search_submit').click(getSections)


    </script>

{% endblock %}