{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2">
        <div class="ui form" id="ui-form">
            <div class="three fields">
                <div class="field">
                    <label for="username_id">Username</label>
                    <input id="username_id"   placeholder="Search by username..." type="text" />
                </div>
                <div class="field">
                    <label for="email_id">Email</label>
                    <input id="email_id" autocomplete="email" placeholder="Search by email..." type="text"/>
                </div>
                <div class="field">
                    <label for="user_type_id">User Type</label>
                    <select class="ui fluid dropdown" name="user_type_id" id="user_type_id" required>
                        <option value="0">-------</option>
                        <option value="faculty" label="Faculty">Faculty</option>
                        <option value="student" label="Student">Student</option>
                        <option value="admin" label="Admin">Admin</option>
                        <option value="researcher" label="Researcher">Researcher</option>
                    </select>
                </div>
            </div>
        {{ csrf }}
             <div class="two fields">
                <div class="field">
                    <label for="first_name_id">First Name</label>
                    <input id="first_name_id"   placeholder="Search by first name..." type="text" />
                </div>
                <div class="field">
                    <label for="last_name_id">Last Name</label>
                    <input id="last_name_id" placeholder="Search by last name..." type="text"/>
                </div>
            </div>
            <div class="display-inline ">
                <button class="ui primary button" id="search" type="button">Search</button>
                <button class="ui negative button" id="clear" type="button">Clear</button>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Type</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="students_added">

                </tbody>
            </table>
        </div>
        <div id="success">

        </div>
    </div>

    <script>
        function addStudent(){
            console.log("here");
            removeStudents();
            var first_name = $('#first_name_id').val();
            var last_name = $('#last_name_id').val();
            var username = $('#username_id').val();
            var email = $('#email_id').val();
            var user_type = $("#user_type_id").val();
            $.ajax({
                type: "GET",
                url: "/student_system/search_user/",
                data : {
                    first_name: first_name,
                    last_name: last_name,
                    username: username,
                    email: email,
                    user_type: user_type
                },
                success: function(data) {
                    console.log(data);
                    data.forEach(function(element){
                        var tBody = document.getElementById('students_added');
                        var newRow = tBody.insertRow(tBody.rows.length);
                        newRow.id = element.user_id + '_row';
                        var userIdCell = newRow.insertCell(0);
                        var usernameCell = newRow.insertCell(1);
                        var emailCell = newRow.insertCell(2);
                        var firstNameCell = newRow.insertCell(3);
                        var lastNameCell = newRow.insertCell(4);
                        var userTypeCell = newRow.insertCell(5);
                        var removeCell = newRow.insertCell(6);
                        var userIdText = document.createTextNode(element.user_id);
                        var usernameText = document.createTextNode(element.username);
                        var emailText = document.createTextNode(element.email);
                        var firstNameText = document.createTextNode(element.first_name);
                        var lastNameText = document.createTextNode(element.last_name);
                        var userTypeText = document.createTextNode(element.user_type);
                        userIdCell.appendChild(userIdText);
                        usernameCell.appendChild(usernameText);
                        emailCell.appendChild(emailText);
                        firstNameCell.appendChild(firstNameText);
                        lastNameCell.appendChild(lastNameText);

                        if(element.department_name)
                            userTypeCell.insertAdjacentHTML('afterbegin', '<div><strong>Department:</strong> '+element.department_name+'<br/>'+element.user_type+"</div>");
                        else
                            userTypeCell.appendChild(userTypeText);
                        removeCell.insertAdjacentHTML('afterbegin', '<button type="button" onclick="deleteStudent(this.id)" class="ui negative button" id="'+element.user_id+'" type="button">Remove</button>')
                    });
                }
            });

        }

        function removeStudents() {
            $('#students_added').empty();
        }

        function deleteStudent(user_id) {

            $.ajax({
                type: "POST",
                url: "/student_system/search_user/",

                data: {
                    userID: user_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },

                success: function(){
                    $('#'+user_id+'_row').remove();
                    $('#success').append("<h2>User Successfully!</h2>")
                }
            })

        }

        $('#search').click(addStudent);
        $('#clear').click(removeStudents);


    </script>

{% endblock %}