{# TODO: Submit_Grades template#}

{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2">
        {% for s in sections %}
            <div class="ui segments">
              <div class="ui segment">
                <h1>{{ s.course_id.name }}</h1>
              </div>
              <div class="ui segments">
                <div class="ui segment">
                  <strong>Building Name: </strong><p>{{ s.room_id.building_id.name }}</p>
                </div>
                <div class="ui segment">
                  <strong>Room Number: </strong><p>{{ s.room_id.room_number }}</p>
                </div>
                <div class="ui segment">
                  <strong>Time Slot: </strong><p>{{ s.time_slot_id.days_id.day_1 }} {{ s.time_slot_id.days_id.day_2 }} ---- {{ s.time_slot_id.period_id.start_time }}-{{ s.time_slot_id.period_id.end_time }}</p>
                </div>
                <div class="ui segment">
                    <strong>Season/Semester</strong><p>{{ s.semester_id.season }} -  {{ s.semester_id.year }}</p>
                </div>
              </div>
                <div class="ui segment">
                    <button onclick="giveGrades(this.id)" class="ui primary button" id="{{ s.section_id }}_grading" type="button">Grading</button>
                </div>

            </div>
        {% endfor %}
    </div>

    <script>


    </script>
{% endblock %}