
{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2">
        {% if sections %}
            {% for s in sections %}
                <div class="ui segments">
                  <div class="ui segment">
                    <h1>{{ s.course_id.name }}</h1>
                  </div>
                  <div class="ui segments">
                    <div class="ui segment">
                      <strong>Building Name: </strong><p>{{ s.room_id.building_id.name }}</p>
                    </div>
                    <div class="ui segment">
                      <strong>Room Number: </strong><p>{{ s.room_id.room_number }}</p>
                    </div>
                    <div class="ui segment">
                      <strong>Time Slot: </strong><p>{{ s.time_slot_id.days_id.day_1 }} {{ s.time_slot_id.days_id.day_2 }} ---- {{ s.time_slot_id.period_id.start_time }}-{{ s.time_slot_id.period_id.end_time }}</p>
                    </div>
                    <div class="ui segment">
                        <strong>Season/Semester</strong><p>{{ s.semester_id.season }} -  {{ s.semester_id.year }}</p>
                    </div>
                  </div>
                    <div class="ui segment">
                        <button onclick="getSectionStudents({{ s.section_id }})" class="ui primary button"  type="button">Grading</button>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <h1><i class="fas fa-exclamation-triangle"></i> No Courses Taught</h1>
        {% endif %}
        <div class="ui modal">
          <div id="id_modal_section" class="header"></div>
          <div  class="scrolling content">
              <div id="id_modal_content" class="ui celled list"></div>
          </div>
            <div id="id_modal_success"></div>
        </div>
    </div>

    <script>

        function getSectionStudents(section_id) {
            $('#id_modal_content').empty();
            $('#id_modal_section').empty();
            $.ajax({
                type: "GET",
                url: "/student_system/submit_grades/",
                data: {
                    section_id: section_id
                },
                success: function (data) {
                    console.log(data);
                    $('#id_modal_section').append("<h1>"+data.section_name+"</h1>");
                    {# hidden input for section_id #}
                     data.students_array.forEach(function(e) {
                         $('#id_modal_content').append("<div class='item'><div class=\"ui form\">\n" +
                             "  <div class=\"fields\">\n" +
                             "    <div class=\"field\">\n" +
                             "      <label>First name</label>\n" +
                             "      <input type=\"text\" name='first_name' value='" + e.first_name + "'>\n" +
                             "    </div>\n" +
                             "    <div class=\"field\">\n" +
                             "      <label>Last name</label>\n" +
                             "      <input type=\"text\" name='last_name' value='" + e.last_name + "'>\n" +
                             "    </div>\n" +
                             "    <div class=\"field\">\n" +
                             "      <label>Semester Status</label>\n" +
                             "      <input type=\"text\" name='semester_status' value='" + data.semester_status + "'>\n" +
                             "    </div>\n" +
                             "    <div class=\"field\">\n" +
                             "      <label>Grade</label>\n" +
                             "      <input type=\"text\" name='grade' id='" + e.student_id + "__grade' maxlength='2' >\n" +
                             "    </div>\n" +
                             "    <div class=\"field\">\n" +
                             "      <label>Submit</label>\n" +
                             "      <button type='button' onclick='submitGrade(this.id," + e.student_id + ")' class='ui primary button' id='" + data.section_id + "'>Submit</button>\n" +
                             "    </div>\n" +
                             "  </div>\n" +
                             "</div> </div>")
                     });
                     $('.ui.modal').modal('show');
                }
            });
        }

        function submitGrade(section_id, student_id) {
            $.ajax({
                type: "POST",
                url: "/student_system/submit_grades/",
                data: {
                    section_id: section_id,
                    student_id: student_id,
                    letter_grade: $('#'+student_id+'__grade').val()
                },
                success: function (data) {
                    console.log(data);
                    $('#id_modal_success').append("<h2>Grade Submitted Sucessfully!</h2>");
                }
            });
        }

    </script>
{% endblock %}