{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2">
        <div class="ui form" id="ui-form">
        {{ csrf }}
             <div class="two fields">
                <div class="field">
                    <label for="section_id"></label>
                    <select id="section_id" class="ui fluid dropdown">
                        <option value="0">--------</option>
                        {% if sections %}
                            {% for s in sections %}
                                <option value="{{ s.section_id }}" ><strong>{{ s.section_id }}.</strong> {{ s.course_id.name }}--{{ s.time_slot_id.days_id.day_1 }}--{{ s.time_slot_id.days_id.day_2 }} {{ s.time_slot_id.period_id.start_time }}-{{ s.time_slot_id.period_id.end_time }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="display-inline ">
                <button class="ui primary button" id="submit" type="button">Submit</button>
            </div>
        </div>
        <div id="course_name_id">

        </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Meeting Date</th>
                    <th>Present or Absent</th>
                </tr>
            </thead>
            <tbody id="students_added">

            </tbody>
        </table>
        <div id="searched">

        </div>
        <div id="success">

        </div>
    </div>

    <script>

        function addStudents(){
            {#console.log("here");#}
            removeStudents();
            var section_id = $('#section_id').val();
            $.ajax({
                type: "GET",
                url: "/student_system/take_attendance/",
                data : {
                    section_id: section_id
                },
                success: function(data) {
                    console.log(data);
                    if(data.is_successful) {
                        data.students_array.forEach(function (element) {
                            var tBody = document.getElementById('sections_added');
                            var newRow = tBody.insertRow(tBody.rows.length);
                            newRow.id = element.course_id + '_row';
                            var studentIdCell = newRow.insertCell(0);
                            var firstNameCell = newRow.insertCell(1);
                            var lastNameCell = newRow.insertCell(2);
                            var meetingDateCell = newRow.insertCell(3);
                            var presentOrAbsentsCell = newRow.insertCell(4);
                            {# editing faculty, meeeting days, time period, building, and room number  #}
                            var studentIdText = document.createTextNode(element.student_id);
                            var firstNameText = document.createTextNode(element.first_name);
                            var lastNameText = document.createTextNode(element.last_name);
                            if( element.meeting_date){
                                var meetingDateText = document.createTextNode(element.meeting_date);
                                meetingDateCell.appendChild(meetingDateText);
                            } else {
                                meetingDateCell.appendChild(document.createTextNode(" "));
                            }
                            if( element.present_or_absent){
                                presentOrAbsentsCell.insertAdjacentHTML('afterbegin', "<i class=\"large green checkmark icon\"></i>");
                            } else {
                                presentOrAbsentsCell.insertAdjacentHTML('afterbegin', "<button type='button' onclick='takeAttendance(this.id, "+element.student_id+")'  id='"+element.enrollment_id+"'> <i id='"+element.student_id+"__present_or_absent' style='display: none;' class='large green checkmark icon'></i></button>");
                            }

                        });
                        $('#course_name_id').append("<h1 class='ui header' >"+data.section_name+" Attendance</h1>");
                        var today = new Date();
                        var month = (today.getMonth() + 1)<10 ? '0'+today.getMonth() : today.getMonth();
                        var day = today.getDate()<10 ? '0'+today.getDate() : today.getDate();
                        var year = today.getFullYear();
                        $('#searched').append("<form action="+window.location.href+" method=\"post\" class=\"ui form m-top2 \">\n" +
                            "            <div class=\"field\">\n" +
                            "                <button class=\"ui button\" role=\"button\">Submit Attendance</button>\n" +
                            "            </div>\n" +
                            "            <input id=\"meeting_date_id\" name=\"meeting_date\" type=\"hidden\" value="+year+"-"+month+"-"+day+"/>\n" +
                            "            <input id=\"hidden_section_id\" name=\"section\" type=\"hidden\" value="+data.section_id+"/>\n" +
                            "        </form>")
                    } else {
                      $('#course_name_id').append("<h1 class='ui header red' >No Students enrolled in this section.</h1>")
                    }

                }
            });

        }


        function takeAttendance(enrollment_id, student_id){
            if($("#"+student_id+"__present_or_absent").is(':hidden')) {
                $.ajax({
                    type: "POST",
                    url: "/student_system/taken_attendance/",
                    data: {
                        enrollment_id: enrollment_id,
                        student_id: student_id,
                        present_or_absent_id: 'P'
                    },
                    success: function (data) {
                        $("#" + student_id + "__present_or_absent").show();
                    }
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/student_system/taken_attendance/",
                    data: {
                        enrollment_id: enrollment_id,
                        student_id: student_id,
                        present_or_absent_id: 'A'
                    },
                    success: function (data) {
                        $("#" + student_id + "__present_or_absent").hide();
                    }
                });
            }


        }

        function removeStudents() {
            $('#students_added').empty();
        }

        $('#submit').click(addStudents);
    {# TODO: Ajax GET & POST Calls for Django Data #}



    </script>

{% endblock %}