{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}
{#    {% csrf_token %}#}
    <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container">
        <h5 class="ui top attached header">
          Hold
        </h5>
        {% if holds %}
            <div class="ui attached segment">
              <p>{{ holds.name }}</p>
            </div>
        {% else %}
            <div class="ui attached segment">
              <p>Currently no holds placed.</p>
            </div>
        {% endif %}
    </div>


{#    {{ form }}#}

{#    <script>document.getElementsByClassName('ui dropdown').dropdown()</script>#}
{% endblock %}