<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}
{#    {% csrf_token %}#}
    <div class="ui container">
        {{ rendered|safe }}
    </div>
    <h1>Student Overrall Grading Graph:</h1>
    <div id="student_plot" style="width: 600px; height:250px;" class="ui container">

    </div>

    <h1>Student Attendance Graph</h1>
    <div id="attendance_plot" style="width: 600px; height:250px;" class="ui container">

    </div>

    <script>
        let ATTENDANCE_PLOT = document.getElementById('attendance_plot');
        Plotly.plot(ATTENDANCE_PLOT, [{
            type: 'bar',
            x: {{ meeting_dates_x_axis|safe }},
            y: {{ meeting_dates_y_axis|safe }}
        }], {
            margin: { t: 0}
        });
        let PLOT = document.getElementById('student_plot');
        Plotly.plot(PLOT, [{
            type: 'bar',
            x: {{ x_axis|safe }},
            y: {{ y_axis|safe }}
        }], {
            margin: { t: 0}
        });
    </script>

    <script>

    </script>
{#    {{ form }}#}

{#    <script>document.getElementsByClassName('ui dropdown').dropdown()</script>#}
{% endblock %}