{% extends "registration_system/partials/base.html" %}
{% load staticfiles %}
{% block navbar %}
    {% include "registration_system/partials/main_navbar.html" %}
{% endblock %}
{% block content %}

     <div class="ui container">
        {{ rendered|safe }}
    </div>

    <div class="ui container m-top2" style="padding-top: 5rem; margin-bottom: 4rem;">
        <div class="ui form" id="ui-form">
            <div class="two fields">
                <div class="field">
                    <label for="id_section_id">Section </label>
                    <select class="ui fluid dropdown" name="section_id" id="id_section_id" required>
                        <option value="true">-------</option>
                        {% if sections %}
                            {% for s in sections %}
                                <option value="{{ s.section_id }}" >{{ s.course_id.name }} -- {{ s.time_slot_id.days_id.day_1 }}-{{ s.time_slot_id.days_id.day_2 }}  {{ s.time_slot_id.period_id.start_time }}-{{ s.time_slot_id.period_id.end_time }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="field">
                    <label for="id_meeting_date_id">Meeting Date</label>
                    <select class="ui fluid dropdown" name="meeting_date_id" id="id_meeting_date_id" required>
                        <option value="true">-------</option>
                        {% if meetings %}
                            {% for m in meetings %}
                                <option value="{{ m.meeting_date }}" label="{{ m.meeting_date }}">{{ m.meeting_date }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="display-inline ">
                <button class="ui primary button" id="submit" type="button">Submit</button>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Meeting Date</th>
                        <th>Present or Absent</th>
                    </tr>
                </thead>
                <tbody id="students_added">

                </tbody>
            </table>
        </div>
        <div id="success">

        </div>
    </div>

    <script>
        function getStudents(){
            removeStudents();
            var section_id = $('#id_section_id').val();
            {#var department_name = $('select option:selected').text();#}
            var meeting_date = $('#id_meeting_date_id').val();
            var meeting_date = new Date(meeting_date);
            $.ajax({
                type: "GET",
                url: "/student_system/view_attendance/",
                data : {
                    section_id: section_id,
                    meeting_date: meeting_date.getTime()
                },
                success: function(data) {
                    console.log(data);
                    data.meeting_array.forEach(function(element){
                        var tBody = document.getElementById('students_added');
                        var newRow = tBody.insertRow(tBody.rows.length);
                        newRow.id = element.meeting_id + '_row';
                        var studentIdCell = newRow.insertCell(0);
                        var firstNameCell = newRow.insertCell(1);
                        var lastNameCell = newRow.insertCell(2);
                        var meetingDateCell = newRow.insertCell(3);
                        var presentOrAbsentCell = newRow.insertCell(4);
                        var studentIdText = document.createTextNode(element.student_id);
                        var firstNameText = document.createTextNode(element.first_name);
                        var lastNameText = document.createTextNode(element.last_name);
                        var meetingDateText = document.createTextNode(element.meeting_date);
                        studentIdCell.appendChild(studentIdText);
                        firstNameCell.appendChild(firstNameText);
                        lastNameCell.appendChild(lastNameText);
                        meetingDateCell.appendChild(meetingDateText);
                        if(element.present_or_absent){
                            presentOrAbsentCell.insertAdjacentHTML('afterbegin',"<i class=\"large green fas fa-check\"></i>" );
                        } else {
                            presentOrAbsentCell.insertAdjacentHTML('afterbegin',"");
                        }

                    });
                }
            });

        }

        function removeStudents() {
            $('#students_added').empty();
        }


        $('#submit').click(getStudents)


    </script>

{% endblock %}