{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extra_head %}
        <link rel="stylesheet" type="text/css" href="{% static 'registration_system/css/semantic.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'registration_system/css/style.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js" integrity="sha256-RKNmL9+6j/3jB72OcIg8OQr91Bi4OgFPnKQOFS1O+fo=" crossorigin="anonymous"></script>
    {% endblock %}
    <title>{% block title %}Andromeda Registration System{% endblock %}</title>
</head>
<body>
{#    <main class="site-content">#}
        <div class="br-0" id="andromeda_navbar">
            {% block navbar %}

            {% endblock %}
        </div>

        <div id="andromeda_banner_img">
            {% block banner %}
            {% endblock %}
        </div>

        <div class="ui container centered m-top2" id="andromeda_content">
            {% block content %}

            {% endblock %}
        </div>


        <div id="andromeda_footer">
            {% block footer %}
                <div class="ui inverted vertical footer segment form-page">
                  <div class="ui container">
                    James McCarthy 2017. All Rights Reserved
                  </div>
                </div>
            {% endblock %}
        </div>
{#    </main>#}
</body>
</html>