<div class="ui  fixed inverted stackable br-0 menu ">
    <a class="item" href="/student_system">
        <h1>Andromeda</h1>
    </a>
    <a class="item">Master Schedule</a>
    <a class="item" href="https://www.oldwestbury.edu/sites/default/files/documents/Catalogs/2016-18/undergrad-catalog-16-18.pdf">Course Catalog</a>
    <div class="right menu">
        {% if  user.is_authenticated  %}
            <a class="ui item " href="{% url 'display' %}">
                <span class="m-right1">Menu</span> <i class="fas fa-user-circle "></i>
            </a>
            <a class="ui item " href="{% url 'registration_system_logout' %}">
                <span class="m-right1">Log-out</span> <i class="fas fa-sign-out-alt "></i>
            </a>
        {% else %}
            <a class="ui item" href="{% url 'login' %}">
                <span class="m-right1">Log-in</span> <i class="fas fa-user "></i>
            </a>
        {% endif %}
    </div>

</div>